

<div class="card flex justify-content-center mt-4 mb-5">
  <span class="p-float-label">
    <p-autoComplete #autocomplete [(ngModel)]="searchTextCountry" [showClear]="true" [suggestions]="paisesAutocomplete"  field="pais" (completeMethod)="filterCountries($event)" (onSelect)="onSelectItem($event)"></p-autoComplete>
    <label>Buscar por pais</label>
  </span>
  <!-- Muestra segundo autocomplete en el caso de que tengamos datos meteologicos de ese pais seleccionado -->
  <div class ="ml-3" *ngIf="bHayDatos">
    <span class="p-float-label">
      <p-autoComplete [(ngModel)]="searchTextCity" [showClear]="true" [suggestions]="cityAutocomplete" (completeMethod)="filterCities($event)" (onSelect)="onSelectCity($event)"></p-autoComplete>
      <label>Buscar ciudad</label>
    </span>
  </div>

</div>


<!-- Llamada al componete que renderiza la información principal de la aplicación -->
<div class="mt-6">
  <app-weather-main [sUbicacion]="weather_data?.name"
                    [oTemperatura]="weather_data?.main"
                    [oTiempo]="weather_data?.weather"
                    [oSys]="weather_data?.sys"
  ></app-weather-main>
</div>

<p-toast></p-toast>


