
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Open+Sans:wght@300&display=swap');

*{
  font-family: 'Dosis', sans-serif;
}

.container{
  margin: 100px 30px 10px 30px;
  border-radius: 5px;
  background-color: rgba(90, 88, 88, 0.493);
}

.text{
  color: brown;
  font-size: 40px;
  padding-top: 30px;

}

