

<div class="container">
  <div class="text-center text">
    <h1>Lluvia</h1>
  </div>
  <div class="grid">
    <div class="col">
      <div class="p-3 border-round-sm bg-primary font-bold">
        <div>
          <p> El tiempo actual </p>
          <p>{{ fechaActual }}</p>
          <p>imagen</p>
          <img [src]=icon>

        </div>
      </div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">
        <p>Componente de mapa</p>
      </div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">
        <p>??????</p>
      </div>
  </div>
  </div>
</div>
